body {
  background-color: olive;
}

.container {
  background-color: cyan;
  margin: 100px auto;
    padding: 30px;
  width: 50%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  box-shadow: 5px 5px rgba(0, 0, 0,0.1);
}
.container > .screen {
  background-color: white;
  grid-column:1/5;
  box-shadow: 5px 5px rgba(0, 0, 0,0.2);
}
.container div {
  text-align: center;
  background-color: white;
 padding: 20px;
  box-shadow: 5px 5px rgba(0, 0, 0,0.1);
  
}

.container > .opperation {
  background-color: yellow;
}
.container > .cancel {
  background-color: red;
}
